# This file designates code owners for different parts of the repository
# Syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @mahmudulazamshohan
